<p>
  <strong>Post id:</strong>
  <%= @comentario.post_id %>
</p>

<p>
  <strong>Body.text:</strong>
  <%= @comentario.body %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
