<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle.string:</strong>
  <%= @post.tittle %>
</p>

<p>
  <strong>Body.text:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
